/* Colors */
$c-white: #ffffff;
$c-black: #000000;

$gray-light: #fafafa;


$text-primary: #000000;
$text-secondary: #303030;
$border-primary: #4b4b4d;

$green-primary: #b1c800;
$gray-primary: #4b4b4d14;
$blue-primary: #0068AE;

$blue: #015188;




/* Fonts */
$f-sans-serif: sans-serif;

/* Base variables */
$border-grey: 1px solid #4b4b4d;
