/* Colors */
$c-white: #ffffff;
$c-black: #000000;


$text-primary: #000000;
$text-secondary: #303030;
$border-primary: #4b4b4d;

$success: #33AC5C;
$error: #F13333;

$gray-900: #101010;
$gray-600: #696969;
$gray-500: #989898;
$gray-400: #B1B0B0;
$gray-300: #D0D0D0;
$gray-200: #EEEEEE;
$gray-100: #FAFAFA;
$gray-0: #FEFEFE;

$blue-primary: #007AFF;
$blue-dark: #0262CC;
$blue-light: #66AFFF;
$blue-focus: #AED4FD;
$blue-lighter: #DDEEFF;



/* Fonts */
$f-sans-serif: sans-serif;

/* Base variables */
$border-grey: 1px solid #4b4b4d;

/* Category colors */
$category-blue: #774BF4;
$category-blue-hover: #9D7AFF;
$category-blue-active: #6137D8;

$category-green: #488255;
$category-green-hover: #67AC77;
$category-green-active: #3C7048;

$category-red: #D64A4A;
$category-red-hover: #E47A7A;
$category-red-active: #BF4444;

$category-cyan: #49A0FF;
$category-cyan-hover: #6FB4FF;
$category-cyan-active: #3783D7;

$category-purple: #BE3F7C;
$category-purple-hover: #EC7AB1;
$category-purple-active: #9E3467;

$category-orange: #EC652B;
$category-orange-hover: #FF9567;
$category-orange-active: #C35322;
