/* Colors */
$c-white: #ffffff;
$c-black: #000000;

$text-primary: #4b4b4d;
$border-primary: #4b4b4d;
$border-checkbox: #707070;

$green-primary: #b1c800;
$grey-primary: #4b4b4d14;
$blue-primary: #0068AE;

$orange: #FABB00;
$yellow: #FFDE00;
$blue: #015188;
$grey-50: #EFEFEF;
$grey-100: #EBEBEB;
$grey-150: #707070;

$bg-dark: #4B4B4D;

/* Fonts */
$f-sans-serif: sans-serif;

/* Base variables */
$border-grey: 1px solid #4b4b4d;
