<div class="field--name-field-bio">
    {% if field %}
      <div class="field__item {{ key|replace({'_': '-'}) }}">
        <span>
          {{ field }}
        </span>
      </div>
    {% endif %}
</div>
