.node--type-algorithm.node--view-mode-full {
  margin-bottom: 120px;
  > .node__content {
    .layout:first-child {
      position: relative;
    }
    img {
      border-radius: 8px;
    }

    .block-field-blocknodealgorithmfield-image {
      margin-bottom: 40px;
    }

    > .layout--twocol-section {
      display: flex;
      justify-content: space-between;
      > .layout__region--first {
        max-width: 744px;
      }
      > .layout__region--second {
        max-width: 312px;
      }
    }

    .field--name-field-reviews-text {
      margin-top: 40px;
      background-color: $blue-lighter;
      border: 1px solid $blue-light;
      padding: 24px;
      border-radius: 24px;
      p {
        @include Body_7_Regular_14pt;
        a {
          font-size: 14px;
        }
      }
    }

  }
}
