.taxonomy-term > .content > .layout--twocol-section,
.node--type-landing-page > .node__content > .layout--twocol-section {
  display: flex;

  .layout__region--first {
    flex: 0 1 auto;
    width: 300px;
  }

  .layout__region--second {
    flex: 0 1 auto;
    width: 1004px;
    justify-content: space-around;

    .view-category {
      .view-content,
      .views-infinite-scroll-content-wrapper {
        .views-view-grid {
          .views-row {
            .views-col {
              height: 542px;
              margin-bottom: 48px;
              &:not(:last-child) {
                margin-right: 19px;
              }
            }
          }
        }
      }
    }
  }

}

