/* ==========================================================================
  Base styles
========================================================================== */

/* stylelint-disable-next-line */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}

*::selection {
    background: $blue-lighter;
}

body {
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

audio,
canvas,
iframe,
img,
svg,
video,
object,
input,
textarea {
  max-width: 100%;
  vertical-align: middle;
}

audio {
  width: 100%;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

textarea {
  resize: vertical;
}

button,
input[type='submit'] {
  cursor: pointer;
}

//button,
//input[type='submit'],
//a {
//  transition: top 1s ease-out 0.5s;
//}

a {
  @include Link_Medium_16pt;
  &:hover {
    color: $blue-dark;
  }
  &:active {
    color: $blue-light;
  }
  &:focus {
    outline: 3px solid $blue-focus;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.region-content,
.region-highlighted {
  @include container-1304;
}

.align-left {
  max-width: 255px;
  margin: 0 15px 15px 0;
}

.align-right {
  max-width: 255px;
  margin: 0 0 15px 15px;
}

em {
  font-family: sans-serif;
}

.btn,
input[type="submit"] {
  display: inline-block;
  border: none;
  border-radius: 12px;
  background-color: $blue-primary;
  color: $gray-0;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding: 12px 32px;
  &:hover {
    background-color: $blue-light;
  }
  &:active {
    background-color: $blue-dark;
  }
  &:focus {
    outline: 3px solid $blue-focus;
  }
  &.disabled {
    background-color: $blue-lighter;
  }
}
