/* ==========================================================================
  Base styles
========================================================================== */

/* stylelint-disable-next-line */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

audio,
canvas,
iframe,
img,
svg,
video,
object,
input,
textarea {
  max-width: 100%;
  vertical-align: middle;
}

audio {
  width: 100%;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

textarea {
  resize: vertical;
}

button,
input[type='submit'] {
  cursor: pointer;
}

a {
  color: $blue-primary;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.region-content,
.region-highlighted {
  @include container-1280;
}


.align-left {
  max-width: 255px;
  margin: 0 15px 15px 0;

  @include breakpoint(mobile-middle) {
      max-width: 100%;
      width: 100%;
      margin: 0 0 15px 0;
  }
}

.align-right {
  max-width: 255px;
  margin: 0 0 15px 15px;

  @include breakpoint(mobile-middle) {
    max-width: 100%;
    width: 100%;
    margin: 0 0 15px 0;
  }
}

em {
  font-family: sans-serif;
}

.btn,
input[type="submit"] {
  display: inline-block;
  border: none;
  background-color: $blue-primary;
  color: $c-white;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  padding: 14px 30px;
}

.field--name-comment-body {
  .filter-wrapper {
    display: none;
  }
}
