/* ==========================================================================
  Base styles
========================================================================== */

/* stylelint-disable-next-line */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}

*::selection {
  background: $blue-lighter;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  &.no-scroll {
    overflow: hidden;
  }
}

img,
svg {
  height: auto;
}

textarea {
  resize: vertical;
}

button,
input[type='submit'] {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-line: underline;
  color: $gray-900;

  &:hover {
    color: $gray-600;
  }

  &:active {
    color: $blue-dark;
    transition-duration: 0s;
  }

  &:focus-visible {
    color: $gray-900;
    outline: 1px solid $blue-light;
    border-radius: 4px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

em {
  font-family: sans-serif;
}

.btn,
input[type="submit"] {
  @include button-primary;
}

ol, ul {
  margin: 24px 0;
}

input {
  caret-color: $blue-primary;
  padding: 15px;
  background-color: $gray-100;
  border: 1px solid $gray-200;
  border-radius: 4px;

  &:focus {
    border: 1px solid $gray-500;
    outline: 0;
  }
}
