/**
 * @file
 * Media queries.
 */
@media (max-width: 1350px) {
  .header-wrapper,
  .region-content,
  .region-footer {
    @include container-1350;
  }

}

@media (max-width: 866px) {
  .btn,
  input[type="submit"] {
    padding: 8px 24px;
  }
  // TODO: Remove later.
  #block-social {
    display: none;
  }
  .layout--twocol-section--50-50 {
    flex-direction: column;

    .layout__region {
      max-width: 100%;
    }
  }
  #block-social-2 {
    display: flex;
    margin: 0;
    margin-top: 24px;
  }
}

@media (max-width: 548px) {
  // TODO: Remove later.
  h1 {
    line-height: 48px !important;
    font-weight: 900 !important;
    font-size: 32px !important;
  }
}
