/**
 * @file
 * Media queries.
 */
@media (max-width: 1350px) {
  .header-wrapper,
  .region-content {
    @include container-1350;
  }

}

@media (max-width: 772px) {
  header {
    height: 125px !important;
    padding: 10px 0;

    .header-wrapper {
      flex-direction: column;
    }
  }
  // @TODO remove.
  .node--id-12 {
    .layout--twocol-section--50-50 {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 500px) {
  header {
    height: 150px !important;

    .header-wrapper {
      .region-header-right {
        flex-direction: column;

        .menu--social {
          margin-top: 10px;
          margin-left: 0 !important;
          justify-content: center;
        }
      }
    }
  }
}

@media (min-width: 772px) and (max-width: 1200px) {
  // @TODO remove.
  .node--id-12 {
    .layout--twocol-section--50-50 {
      margin-bottom: 50px !important;
      //flex-direction: column;
      .layout__region--first {
        .block-field-blocknodelanding-pagetitle {
          max-width: 80%;
        }
      }
    }
  }
}
