h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  @include Title_2_Bold_28pt;
  margin-bottom: 40px;
}

h2 {
  @include Subhead_1_Semibold_24pt;
}

h3 {
  @include Body_1_Medium_20pt;
}

h4 {
  @include Body_2_Regular_20pt;
}

p, li {
  @include Body_5_Regular_16pt;
  margin: 0;
}

span {
  @include Body_7_Regular_14pt;
}

sup, sub {
  @include Description_Regular_12px;
}

blockquote {
  font-style: italic;
}

label {
  @include Body_4_Medium_16pt;
}

.field--name-field-caption {
  @include Description_Regular_12px;
  color: $gray-600;
}
