.block-views-blockcategory-block-1,
.block-views-blockcategory-block-2,
.block-views-blockcategory-block-3,
.block-views-blockcategory-block-4 {
  .view-category {
    .view-empty {
      @include Title_2_Bold_28pt;
      margin: 0 auto 300px;
      text-align: center;
    }

    .view-content,
    .views-infinite-scroll-content-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      &.clearfix::after {
        width: 322px;
      }

      .views-row {
        margin-bottom: 48px;
      }
    }

    .pager {
      padding: 0;
      .pager__item {
        padding: 0;

        a {
          @include button-primary;
          width: 100%;
        }
      }
    }
  }
}

.block-views-blockcategory-block-1,
.block-views-blockcategory-block-3 {
  .pager {
    display: none;
  }
}
