.block-views-blocksponsors-top-sponsors-default {
  @include container-1304;
  margin-bottom: 120px;
  .view-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .views-row a {
      display: flex;
      align-items: center;
      text-decoration: none;

      .field--name-name {
        margin-left: 32px;
        max-width: 182px;
        @include Body_2_Regular_20pt;
      }

      img {
        filter: grayscale(100%);
      }

      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }
  }
}

.layout--category-layout .block-views-blocksponsors-top-sponsors-default {
  max-width: 100%;
  h2 {
    //@include Subhead_1_Semibold_24pt;
    width: 256px;
    margin: 60px auto 60px;
    text-align: center;
  }
}

