#toMainPageButton {
  overflow: hidden;

  a {
    position: fixed;
    @include Body_5_Regular_16pt;
    text-decoration: none;
    padding-left: 34px;
    &::before {
      background-image: url("../../assets/images/arrow-main-page.svg");
      width: 8px;
      height: 15px;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      top: 4px;
      left: 0;
      content: "";
    }
  }
}
