.node--type-algorithm.node--view-mode-teaser {
  box-shadow: 0 4px 28px rgba(226, 226, 226, 0.5);
  border-radius: 24px;
  max-width: 322px;
  margin: 0 auto;

  & > .layout > .layout__region {

  }

  .field--name-title a {
    @include Body_5_Regular_16pt;
  }
}

#slick-views-algorithms-block-algorithm-slider-1 {
}
