.paragraph--type--two-col .layout--twocol-section--50-50 {
  margin: 20px 0;
  display: flex;
  &>.layout__region{
    //width: 70%;
    &:not(:last-child) {
      padding-right: 22.5px;
    }
    &:last-child {
      padding-left: 22.5px;
    }
  }


}
