.field--name-field-image,
.media--type-algorithm-embedded,
.paragraph--type--image-slider {
  .field--name-field-caption,
  .slide__caption .slide__description {
    margin-top: 20px;

    p, a {
      @include Description_Regular_12px;
      color: $gray-600;
    }
    p a:hover {
      color: $gray-900;
    }
  }
}
.media--type-algorithm-embedded,
.paragraph--type--image-slider {
  margin: 40px 0;
}

.slide__caption {
  padding: 0;
}
