.block-field-blocknodealgorithmuid {
  width: 100%;

  .field--name-uid {
    .layout--twocol-section {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      .layout__region--first {
        max-width: fit-content;

        img {
          border-radius: 100%;
        }

      }

      .layout__region--second {
        max-width: 199px;

        .field--name-field-name {
          width: min-content;
          @include Body_6_Medium_14pt;
        }

        .field--name-field-bio, {
          @include Body_7_Regular_14pt;
          color: $gray-600;
          //white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
