/**
 * @file
 * Mixin common.
*/

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn-reset {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

@mixin text-hide {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate3d(-50%, -50%, 0);
}

@mixin absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

@mixin absolute-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

@mixin element-cover {
  width: auto;
  min-width: 100%;
  max-width: none;
  height: auto;
  min-height: 100%;
  max-height: none;
}

@mixin element-100 {
  width: 100%;
  height: 100%;
}

@mixin element-absolute-100 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

@mixin button-primary {
  @include Link_Medium_16pt;
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: $blue-primary;
  color: $gray-0;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding: 12px 32px;

  &:hover {
    background-color: $blue-light;
  }

  &:active {
    background-color: $blue-dark;
  }

  &:focus {
    outline: 3px solid $blue-focus;
  }
}

@mixin button-disabled {
  background-color: $blue-lighter;
}
