/**
 * @file
 * Mixin print style.
*/

@mixin print-color-text {
  @media print {
    color: $c-black;
  }
}

@mixin print-color-background {
  @media print {
    background-color: $c-white;
  }
}

@mixin print-twitter-teaser-style {
  @media print {
    background-color: $c-white;
    color: $c-black;
    border: 3px solid $blue-primary;
  }
}