/**
 * @file
 * Mixin containers.
*/

@mixin full-width {
  position: relative;
  right: 50%;
  left: 50%;
  margin-right: -50vw;
  margin-left: -50vw;
  width: 100vw;
}

@mixin container-1440 {
  max-width: 1440px;
  margin: 0 auto;
}

@mixin container-1300 {
  max-width: 1300px;
  margin: 0 auto;
}

@mixin container-1200 {
  max-width: 1210px;
  margin: 0 auto;
}

@mixin container-1060 {
  max-width: 1060px;
  margin: 0 auto;
}

@mixin container-650 {
  max-width: 650px;
  margin: 0 auto;
}

@mixin container-reset {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

@mixin container-1350 {
  max-width: 1280px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
