/**
 * @file
 * Mixin containers.
*/

@mixin full-width {
  position: relative;
  right: 50%;
  left: 50%;
  margin-right: -50vw;
  margin-left: -50vw;
  width: 100vw;
}

@mixin container-1440 {
  max-width: 1440px;
  margin: 0 auto;
}

@mixin container-1304 {
  max-width: 1304px;
  margin: 0 auto;
}

@mixin container-1004 {
  max-width: 1004px;
  margin: 0 auto;
}

@mixin container-744 {
  max-width: 744px;
  margin: 0 auto;
}

@mixin container-322 {
  max-width: 322px;
  margin: 0 auto;
}

@mixin container-reset {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

