#block-adminpanel, #block-adminpanel-2 {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 50;
  opacity: 0.9;
}
#block-adminpanel a, #block-adminpanel-2 a {
  display: inline-block;
  color: #101010;
  background-color: #eee;
  padding: 10px 15px;
  text-decoration: none;
}
#block-adminpanel a:hover, #block-adminpanel-2 a:hover {
  background-color: #d0d0d0;
}
#block-adminpanel a.is-active, #block-adminpanel-2 a.is-active {
  color: #696969;
}

