.layout--algorithm-teaser-layout {
  .layout__region--text {
    h4 {
      height: 112px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      margin: 0;
    }
  }
}
