<div class="admin-panel">
  <div class="items">
    <a class="item" href="/">Главная</a>
    <a class="item" href="/admin/content">Контент</a>
    <a class="item" href="/node/add">Добавить контент</a>
    <a class="item" href="/user/{{ fields.uid }}/edit">Редактировать профиль</a>
    <a class="item" href="/user/logout">Выйти</a>

  </div>
</div>
