.node--type-algorithm.node--view-mode-teaser,
.node--type-algorithm.node--view-mode-teaser-mini {
  box-shadow: 0 4px 28px rgba(226, 226, 226, 0.5);
  border-radius: 24px;
  max-width: 322px;
  margin: 0 auto;
  padding-bottom: 25px;

  .node__content {
    a {
      text-decoration: none;

      &:focus {
        outline: none
      }
    }

    .field--name-field-image {
      margin-bottom: 24px;
    }

    .block-field-blocknodealgorithmtitle {
      margin: 0 20px 25px;
    }

    .field--name-uid {
      .layout--twocol-section {
        margin: 0 20px;
        display: flex;

        .layout__region--first {
          flex: 0 0 44px !important;
        }

        .layout__region--second {
          text-align: left;

          .field--name-field-bio:hover {
            color: $gray-900;
          }
        }

      }
    }
  }
}
