.paragraph--type--two-col {
  margin: 20px 0;
  display: flex;

  .layout--twocol-section--50-50 > .layout__region {
    &:not(:last-child) {
      padding-right: 22.5px;
    }

    &:last-child {
      padding-left: 22.5px;
    }
  }


}
